<!-- This is a static file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.8.2/dist/alpine.js"
      defer
    ></script>
    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>
    <div x-data="match()" x-init="init()">
      <header class="sticky">
        <div class="row">
          <div class="col-md-1 col-sm-2">
            <button
              style="width:100%"
              x-show="activeTab !== 'settings'"
              x-on:click="activeTab = 'settings'"
            >
              <img
                src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fsettings.svg?v=1579105838523"
              />
            </button>
            <button
              x-on:click="activeTab = 'home'"
              style="width:100%"
              x-show="activeTab !== 'home' && activeTab !== 'chat'"
            >
              <img
                src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fhome.svg?v=1579110473668"
              />
            </button>
          </div>
          <div class="col-md-10 col-sm-8">
            <h1 style="text-align:center" x-text="activeTab.toUpperCase()">Home</h1>
          </div>
          <div class="col-md-1 col-sm-2">
            <button
              x-on:click="activeTab = 'chat'"
              style="width:100%"
              x-show="activeTab !== 'chat'"
            >
              <img
                src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fmessage-square.svg?v=1579104182132"
              />
            </button>
            <button
              x-on:click="activeTab = 'home'"
              style="width:100%"
              x-show="activeTab !== 'home' && activeTab !== 'settings'"
            >
              <img
                src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fhome.svg?v=1579110473668"
              />
            </button>
          </div>
        </div>
      </header>
      <main>
        <div x-show="activeTab === 'home'">
          <div class="row">
            <div class="col-sm-1 col-md-3 col-lg-4"></div>
            <div class="col-sm-10 col-md-6 col-lg-4">
              <div class="card fluid" x-show="currentMatch() === undefined">
                <h3>
                  No Matches.
                </h3>
              </div>
              <div class="card fluid" x-show="!isLoginedIn">
                <h3>
                  Login in Settings
                </h3>
              </div>
              <div class="card fluid" 
                x-show="currentMatch() !== undefined && isLoginedIn">
                <div class="section">
                  <h2
                    x-text="currentMatch()?currentMatch().name:''"
                    id="card-name"
                  >
                    Name
                  </h2>
                </div>
                <div class="section">
                  <img
                    id="card-image"
                    x-bind:src="currentMatch()?currentMatch().imgs[0]:''"
                  />
                </div>
                <div class="section">
                  <table>
                    <thead>
                      <tr>
                        <th>Age</th>
                        <th>Height</th>
                      </tr>
                    </thead>
                    <tbod>
                      <tr>
                        <td
                          data-label="Age"
                          x-text="currentMatch()?currentMatch().age:''"
                          id="card-age"
                        >
                          22
                        </td>
                        <td
                          data-label="Height"
                          x-text="`${currentMatch()?currentMatch().height.ft:''}' ${currentMatch()? currentMatch().height.in:''}\&quot`"
                          id="card-height"
                        >
                          5' 4"
                        </td>
                      </tr>
                    </tbod>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-3 col-lg-4"></div>
          </div>
          <div class="row" 
            x-show="currentMatch() !== undefined && isLoginedIn">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <button id="pass" style="width:100%" x-on:click="pass()">
                <img
                  src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fx%20(1).svg?v=1579107816461"
                />
              </button>
            </div>
            <div class="col-sm-4">
              <button id="like" style="width:100%" x-on:click="like()">
                <img
                  src="https://cdn.glitch.com/8b0aa4a9-075e-42fe-9b09-11dd281fcfce%2Fcheck.svg?v=1579106477887"
                />
              </button>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
        <div x-show="activeTab === 'chat'">
          <div class="row">
            <div class="col-sm-12">
              <div class="card fluid" x-html="setMatchesListHTML()">

              </div>
            </div>
          </div>
        </div>
        <div x-show="activeTab === 'settings'">
          <container>
            <div class="row cols-sm-12">
              <div>
                <div class="card fluid">
                  <button x-on:click="logout()" x-show="isLoginedIn">
                    Logout
                  </button>
                  <div class="button-group" x-show="!isLoginedIn">
                    <label class="button" for="login-module-control">
                      Login
                    </label>
                    <label class="button" for="signup-module-control">
                      Sign up
                    </label>
                  </div>
                  <input type="checkbox" id="login-module-control" class="modal">
                  <div>
                    <div class="card">
                      <label for="login-module-control" class="modal-close" ></label>
                      <h3 class="section">Login</h3>
                      <div class="input-group">
                        <input type="text" placeholder="username">
                        <input type="password" placeholder="password">
                        <button x-on:submit="login()">Login</button>
                      </div>
                    </div>
                  </div>
                  
                  <input type="checkbox" id="signup-module-control" class="modal">
                  <div>
                    <div class="card fluid" id="signup">
                      <label for="signup-module-control" class="modal-close" ></label>
                      <h3 class="section">Sign Up</h3>
                      <div class="input-group" x-show="!isLoginedIn">
                        <input type="email" placeholder="email">
                        <input type="text" placeholder="username" value="test">
                        <input type="password" placeholder="password" value="test">
                        <button x-on:click="signUp()">Sign Up</button>
                      </div>
                      <h1 x-show="isLoginedIn">You're Signed Up and Logined In!</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </container>
        </div>
      </main>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
